#thanks {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.70);
  border-style: dotted;
  margin-top: 10px;
  margin-bottom: 5px;
  border-width: 2px;
  border-color: blue;
}